<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{% block title %}base{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap-3.4.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-table.css' %}"rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/img1.css' %}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.js'%}"></script>
    <script src="{% static 'js/bootstrap-table-zh-CN.js'%}"></script>
    <script src="{% static 'js/echarts.min.js'%}"></script>
  </head>

  <body>
  <div id="main" style="width: 1000px;height:400px;"></div>
  <script type="text/javascript">
        var kv = new Array();
        kv = {{ data_dict|safe }};
        var test = new Array();
        for (var logKey in kv) {
        test.push({value: kv[logKey], name: logKey});
        }
        var chartDom = document.getElementById('main');
        var myChart = echarts.init(chartDom);
        var option;
        option = {
          tooltip: {
<!--            formatter: "{a} <br/>{b}: {c} ({d}%)",-->
            trigger: 'item'
          },
<!--          legend: {-->
<!--            top: '70%',-->
<!--            left: 'center',-->
<!--          },-->
          series: [
            {
              name: '责任单位',
              type: 'pie',
              radius: ['70%', '95%'],
              avoidLabelOverlap: false,
              label: {
                show: false,
                position: 'center',
<!--            formatter: '{d}%'-->
              },
              emphasis: {
                label: {
                  show: true,
                  fontSize: '30',
                  fontWeight: 'bold'
                }
              },
              labelLine: {
                show: false
              },
                data:test,
            }
          ]
        };
        $.get('data.json').done(function(){
            myChart.setOption(option);
        });




    </script>
  </body>


</html>