<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{% block title %}base{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap-3.4.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-table.css' %}"rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/img7.css' %}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.js'%}"></script>
    <script src="{% static 'js/bootstrap-table-zh-CN.js'%}"></script>
    <script src="{% static 'js/echarts.min.js'%}"></script>
  </head>

  <body>
  <label>
        <span>开始日期</span>
        <input type="datetime-local" class="startTime" placeholder="开始日期" >
  </label>
  <label>
        <span>结束日期</span>
        <input type="datetime-local" class="endTime" placeholder="结束日期" >
   </label>
<!--   <div>-->
<!--        <select id="data_year" class="required combox" name="al.activeType">-->
<!--                <option value="">&#45;&#45;请选择&#45;&#45;</option>-->
<!--                <option value="结案">结案</option>-->
<!--                <option value=" ">未结案</option>-->
<!--        </select>-->
<!--   </div>-->
  <div>
      <div>
          <button id="submit-button" type="submit">查询</button>
      </div>
  </div>

<!--  <div id="main" style="width: 1000px;height:600px;"></div>-->
  <div id="main" style="width: 600px;height:500px;"></div>
<!--  <div id="main2" style="width:600px;height:500px;"></div>-->
  <script type="text/javascript">

    var chartDom = document.getElementById('main');
    var myChart = echarts.init(chartDom);
<!--    var chartDom2 = document.getElementById('main2');-->
<!--    var myChart2 = echarts.init(chartDom2);-->

    var option;
    option = {
      title:{
        show:true,
        text:'未结案责任单位占比',
         x:'center',
      },
      tooltip: {
        trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)",
      },
      legend: {
        top:'10%',
        type: 'scroll',
        icon: 'circle',      <!-- 图表是圆-->
        left: 'center',
        textStyle: {
          fontSize: 13,
          color: '#000'
        },
      },
      series: [
        {
          name: '责任单位',
          type: 'pie',
          radius: ['40%', '70%'],
          avoidLabelOverlap: false,
          label: {
            show: false,
            position: 'center'
          },
          emphasis: {
            label: {
              show: true,
              fontSize: '40',
              fontWeight: 'bold',
              formatter: '{d}%'
            }
          },
          labelLine: {
            show: false
          },
          data: []
        }
      ]
    };


    $('#submit-button').click(function () {
        $.ajax({
            type:"post",
            async:true,
            url:"/imj/",
            data:{
              'startTime':  new Date($('.startTime').val()).getTime(),
              'endTime': new Date($('.endTime').val()).getTime(),
            },
            success: function(data_dict){
              if(data_dict){
                  var test = [];
                  console.log(data_dict);
                  for (var Key in data_dict) {
                    test.push({value: data_dict[Key], name: Key});
                  }
                  option.series[0].data = test;
                  myChart.setOption(option);
<!--                  myChart2.setOption(option);-->
              }
            }
        });
    });


  </script>
  </body>

</html>