<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人博客页面</title>
    <link rel="stylesheet" href="{% static 'css/imt.css'%}">

</head>
<body>
    <div class="header">
        <ul>
            <li><a href="javascript:;">个人首项</a></li>
            <li><a href="javascript:;">心情日志</a></li>
            <li><a href="javascript:;">精选文章</a></li>
            <li><a href="javascript:;">温馨相册</a></li>
            <li><a href="javascript:;">个人档案</a></li>
        </ul>
    </div>
</body>
</html>